body {
    background-color: #ffccca;
    color: black;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  margin-top: 80px;
  margin-bottom: 80px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    margin-left: 30px;
    padding-top: 20px;
    margin-top: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    margin-left: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24pt;
    margin-left: 30px;
    padding-top: 20px;
    margin-top: 0px;
}


.container {
    background-color: white;
    border-radius: 40px;
    color: black;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px #888888;
    -moz-box-shadow: 0 0 5px #1a1a1a;
    -webkit-box-shadow: 0 0 5px #1a1a1a;
    box-shadow: 0px 0px 5px #1a1a1a;
}

.content {
    background-color: red;
    width: 90%;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    margin-right: auto;
    border-radius: 40px;
    margin-top: 10px;
}



.eat-button {
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 10px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 80px;
    font-size: 36px;
    font-weight: 700;
    border: none;
}

.website-button {
    background-color: green;
    border-radius: 40px;
    color: white;
    padding: 10px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

#res-rating {
    
}