body {
    background-color: #ffccca;
    color: black;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  margin-top: 80px;
  margin-bottom: 80px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    margin-left: 30px;
    padding-top: 20px;
    margin-top: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    margin-left: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24pt;
    margin-left: 30px;
    padding-top: 20px;
    margin-top: 0px;
}


.container {
    background-color: white;
    border-radius: 40px;
    color: black;
    width: 350px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px #888888;
    -moz-box-shadow: 0 0 5px #1a1a1a;
    -webkit-box-shadow: 0 0 5px #1a1a1a;
    box-shadow: 0px 0px 5px #1a1a1a;
}

.content {
    /* background-color: red; */
    width: 75%;
    height: 180px;
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
    border-radius: 40px;
    margin-top: 10px;
}



.eat-button {
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 10px;
    width: 200px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 80px;
    font-size: 36px;
    font-weight: 700;
    border: none;
    cursor: pointer;
	transition: all 0.2s ease-out;
}

.website-button {
    background-color: green;
    border-radius: 40px;
    color: white;
    padding: 10px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.eat-button::after {
	content: '';
	display: block;
	width: 160px;
	height: 40px;
	background-color: black;
	z-index: -1;
	left: calc(50% - 80px);
	top: 10px;
	opacity: 0.3;
	filter: blur(5px);
	transition: all 0.2s ease-out;
}
.eat-button:hover::after {
	opacity: 0.5;
}
.eat-button:active {
	background-color: #dd4b4b;
}
.eat-button:active::after {
	opacity: 0.3;
}
.loading {
	border-radius: 50px;
	width: 50px;
	left: calc(50vw - 25px);
}
.eat-button.loading::after {
	width: 40px;
	left: 5px;
	top: 12px;
	border-radius: 100%;
}
.spinner {
	display: block;
	width: 34px;
	height: 34px;
	background: transparent;
	box-sizing: border-box;
	border-top: 4px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin 0.6s ease-out infinite;
}
@keyframes spin {
	100% {transform: rotate(360deg)}
}

/* .res-image {
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
} */
.res-img {
    max-width: 300px;
    max-height: 190px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    

}

.waiting {
    pointer-events: none;
    opacity: 50%;
}
